@model TvPlays.Models.Categories

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>@Model.Name</h4>
    <hr />
    <div class="row">
        @foreach (var item in Model.ListClips)
        {
            <div class="cardcol col">
                <div class="card">
                    <div class="card-title">
                        <h5>@Html.DisplayFor(modelItem => item.TitleClip)</h5>
                    </div>
                    <div class="card-body">
                        <video src="@Url.Action("VideoClip","Clips", new { pathClip = item.PathClip})" type="video/mp4" controls="true" width="400px"></video>
                    </div>
                    @Html.ActionLink("Go to Clip!", "Details", "Clips", new { id = item.ID }, new { @class = "btn btn-primary" })
                </div>
            </div>
        }
    </div>
</div>

