
/*CSS para os clips!*/
.card {
    width: 475px;
    padding: 15px;
    align-items: center;
    margin: 30px;
}

.card-title {
    text-align: center;
}


.commentsContainer {
    margin: 5px;
    background-color: rgb(176, 176, 176);
    border: 2px solid black;
}

.comment {
    padding: 10px;
    align-content: center;
    justify-content: center;
}

#ContComment {
    width: 100%;
}

.commentInput {
    padding: 10px;
    justify-content: center;
}

.commentInput > textarea {
    
}

.commentInput > input {
    margin: 10px;
}   