body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    position:absolute;
    top:70px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*CSS para a View do Register*/
.register_main_div {
    position: relative;
    background-color: #575757;
}

.register_main_div > .register_main_span {
    display: flex;
    justify-content: center;
}

.register_container {
    position: relative;
    display: flex;
    justify-content:center;
    padding: 10px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}