body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 75px;
    height: 100%;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/*CSS para centrar o Login, ver imagem de tras!*/

.loginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm {
    padding: 40px;
    border: solid 1px black;
}

.loginForm > h2 {
    margin-bottom: 25px;
}

/*CSS para centrar o Register, ver imagem de tras!*/

.registerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerForm {
    padding: 40px;
    border: solid 1px black;
}

.registerContainer > h2 {
    margin-bottom: 25px;
}

.manageCol, premiumCol {
    display: flex;
    justify-content: center;
    align-content: center;
}

.managecard {
    padding: 75px;
    max-height: 475px;
}

.IPTcol, .PROFcol, .Alunoscol{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align:center;
}

.AlunosRow, .PROFrow {
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.imgFooter{
    height: 6rem;
}

.loginButton{
    justify-content: center;
    margin-top: 20px;
}

.registerButton{
    justify-content: space-around;
    align-items: center;
}

.carouselContainer{
    margin-top: 25px;
}

.descriptionRow > .col{
    flex-direction: column;
        flex-wrap: wrap;
}



